---
import Document from "@/layouts/Document.astro";
import RootLayout from "@/layouts/RootLayout";
---

<Document title="Mosevang Ridecenter - Velkommen">
  <RootLayout>
    <p>Foobar</p>
  </RootLayout>
</Document>
