---
import Document from "@/layouts/Document.astro";
import IndexLayout from "@/layouts/IndexLayout";

import {
  Content as IndexSection,
  frontmatter as IndexFrontmatter,
} from "@/content/sections/index.md";
import {
  Content as FacilitySection,
  frontmatter as FacilityFrontmatter,
} from "@/content/sections/facilities.md";
import {
  Content as RulesSection,
  frontmatter as RulesFrontmatter,
} from "@/content/sections/rules.md";
import {
  Content as PricesSection,
  frontmatter as PricesFrontmatter,
} from "@/content/sections/prices.md";
import {
  Content as AboutSection,
  frontmatter as AboutFrontmatter,
} from "@/content/sections/about.md";
---

<Document title="Mosevang Ridecenter - Velkommen">
  <IndexLayout title="Mosevang Ridecenter">
    <IndexSection />
    <h2 id="faciliteter">Faciliteter</h2>
    <FacilitySection />
    <h2 id="regler">Regler</h2>
    <RulesSection />
    <h2 id="priser">Priser</h2>
    <PricesSection />
    <h2 id="om-os">Om os</h2>
    <AboutSection />
  </IndexLayout>
</Document>
