---
import "@fontsource-variable/lora";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  *,
  :before,
  :after {
    box-sizing: border-box;
  }
  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family:
      Inter,
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      Segoe UI Symbol,
      "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  body {
    margin: 0;
    line-height: inherit;
  }
</style>
<style is:global>
  :root {
    --content-width: 54rem;
    --gutter-width: 2rem;

    --c-accent: rgb(37 34 252);
  }
  body {
    font-size: 18px;
    padding: 3rem 2rem;
    background: #fefefe;
    font-family: system-ui, sans-serif;
  }
  @media (max-width: 450px) {
    :root {
      --gutter-width: 0rem;
    }
    body {
      padding: 3rem 1rem;
    }
  }
  h1,
  h2,
  h3 {
    font-family: "Lora Variable", serif;
    font-weight: normal;
  }
  h2 {
    margin-block-start: 6rem;
  }

  ol {
    margin-inline: 0;
    padding-right: var(--gutter-width);
  }

  table {
    width: calc(100% - 2 * var(--gutter-width));
    border-collapse: collapse;
    margin-block: 1.5rem;
  }
  th:empty {
    display: none;
  }
  th,
  td {
    padding: 0.5em;
    border: 1px solid rgb(0 0 0 / 25%);
  }
  td:first-child:nth-last-child(2) ~ td {
    width: 40%;
  }

  p:last-child {
    margin-bottom: 0;
  }
</style>
<style is:global>
  .yamz__wrapper {
    overflow-y: hidden;
  }
  .yamz__highres {
    display: block;
  }
</style>
