.hero {
  font-size: 4.5rem;
  line-height: 1;
  text-wrap: balance;
  text-align: center;
  margin-block-end: 3rem;
}
@media (max-width: 960px) {
  .hero {
    font-size: 3.5rem;
  }
}
@media (max-width: 760px) {
  .hero {
    font-size: 3rem;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block-end: 4rem;
  position: sticky;
  top: 0;
  background: rgb(255 255 255 / 75%);
  backdrop-filter: blur(12px);
  margin-inline: 0;
  padding-inline: var(--gutter-width);
}
nav > a {
  color: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  padding: 1rem 2rem;
}
nav > a:not(.active) {
  color: #444;
}
nav > a:hover,
nav > a:focus-visible {
  color: var(--c-accent);
}

/* offset all link targets, to account for fixed nav */
:global([id]::before) {
  content: '';
  display: block;
  height:      75px;
  margin-top: -75px;
  visibility: hidden;
}
